:root {
  --accent-color: #1de9b6;
  --primary-dark: #263238;
  --secondary-dark: #212121;
  --menu-dark: #232b2b;
  --text-grey: #bdbdbd;
}
* {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--secondary-dark);
}

/* main classes/ID */
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 5px;
}

/* TitleBar */
.main-nav-bar {
  display: flex;
  padding: 15px 10px 10px 15px;
  justify-content: right;
  align-items: center;
  height: 4vh;
  gap: 15px;
  transition: height 0.2s ease-in-out 0.1s;
}
.main-nav-bar::before {
  content: "WhatsApp";
  font-weight: 400;
  font-size: larger;
  color: var(--text-grey);
  margin-right: auto;
}
.main-nav-btn.camera {
  display: flex;
  align-items: center;
}
.main-nav-btn.search {
  display: flex;
  align-items: center;
}
.main-nav-btn.menu {
  display: flex;
  align-items: center;
}
#main-nav-bar-svg,
#nav-svg {
  fill: var(--text-grey);
  width: 25px;
  transition: fill 0.4s linear;
}
#main-nav-bar-svg:hover,
.group-icon.highlight #nav-svg {
  fill: var(--accent-color);
}

/* Search Container */
.nav-search-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--primary-dark);
  width: 100%;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  clip-path: circle(0% at 100% 0%);
  transition: clip-path 0.4s ease-in-out;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 0px 15px;
}
.inputElement {
  flex-grow: 1;
  background-color: transparent;
  color: var(--text-grey);
  font-size: medium;
  border: none;
  outline: none;
  caret-color: var(--accent-color);
}
.main-nav-btn.back {
  padding: 0;
  padding-right: 20px;
}
.main-nav-btn.clear {
  padding: 0;
  padding-left: 15px;
}
.tags-container {
  display: flex;
  padding: 10px 40px 0px 15px;
  font-size: small;
  gap: 7px;
  flex-wrap: wrap;
}
input[type="radio"] {
  display: none;
}
label {
  display: flex;
  padding: 10px;
  border-radius: 20px;
  color: var(--accent-color);
  box-sizing: border-box;
  margin-bottom: 6px;
  transition: all 0.2s linear;
}
input[type="radio"]:checked + label {
  box-shadow: #232b2b 3px 3px 6px 0px inset, #212121bd -3px -3px 6px 1px inset;
}
label::before {
  content: "";
  display: flex;
  width: 10px;
  padding-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}
label.unread::before {
  background-image: url(images/unread.svg);
}
label.photos::before {
  background-image: url(images/photos.svg);
}
label.videos::before {
  background-image: url(images/videos.svg);
}
label.links::before {
  background-image: url(images/links.svg);
}
label.gifs::before {
  background-image: url(images/gifs.svg);
}
label.audios::before {
  background-image: url(images/audios.svg);
}
label.documents::before {
  background-image: url(images/documents.svg);
}
label.polls::before {
  background-image: url(images/polls.svg);
}

/* Menu Container */
.main-nav-menu-container {
  display: flex;
  z-index: 100;
  justify-content: flex-end;
}
.modal {
  position: absolute;
  width: 200px;
  background-color: var(--menu-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  clip-path: circle(0% at 100% 0%);
  transition: clip-path 0.4s ease-in-out;
}
.main-nav-menu {
  list-style-type: none;
  font-weight: 400;
  color: var(--text-grey);
  user-select: none;
}
.main-nav-menu > li {
  padding: 15px;
  transition: background 0.3s linear, box-shadow 0.4s linear;
}
.main-nav-menu > li:hover {
  background-color: var(--accent-color);
  color: var(--menu-dark);
  box-shadow: var(--accent-color) 0px 0px 8px;
}

/* NavBar */
nav {
  display: flex;
  align-items: center;
  position: relative;
}
.nav-btn {
  display: flex;
  color: var(--text-grey);
  padding: 14px 0px;
  text-align: center;
  flex-grow: 2;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  cursor: pointer;
  font-weight: 400;
  user-select: none;
}
.group-icon {
  padding: 0;
  flex-grow: 0.4;
}
.group-icon > #nav-svg {
  width: 23px;
}
.nav-btn-active {
  background-color: var(--accent-color);
  border-radius: 2px 2px;
  bottom: 0%;
  height: 7%;
  position: absolute;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--accent-color) 0px 2px 8px;
}

/* section */
.section-container {
  scroll-behavior: smooth;
  display: flex;
  height: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex-shrink: 0;
  width: 100%;
}

/* chat card */
.chat-card {
  display: flex;
  padding: 15px 15px;
  gap: 15px;
  color: var(--text-grey);
  align-items: center;
}
.chat-card img {
  border-radius: 50%;
}
.chat-info {
  flex-grow: 1;
}
.card-upper {
  display: flex;
  justify-content: space-between;
}
.sender-info {
  font-weight: 600;
}
.last-msg-time {
  font-weight: 400;
  font-size: smaller;
  opacity: 0.8;
}
.last-msg {
  margin-top: 5px;
}

/* #toggle classes */
.highlight {
  color: var(--accent-color);
}
.clipPath {
  clip-path: circle(142% at 100% 0%);
}
.title-height {
  height: 125px;
}
/* media queries */
@media (width>799px) {
  .title-height {
    height: 2.6vh;
  }
}
