:root {
  --accent-color: #1de9b6;
  --primary-dark: #263238;
  --secondary-dark: #212121;
  --menu-dark: #232b2b;
  --text-grey: #bdbdbd;
}
* {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--secondary-dark);
}

/* main classes/ID */
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  /* max-width: 375.2px; */
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* TitleBar */
.main-nav-bar {
  display: flex;
  padding: 15px 5px 10px 15px;
  justify-content: right;
  align-items: center;
  height: 4vh;
  transition: height 3s linear;
}
.main-nav-bar::before {
  content: "WhatsApp";
  font-weight: 500;
  font-size: larger;
  color: var(--text-grey);
  margin-right: auto;
}
.main-nav-btn {
  width: 1.6em;
  height: 1.6em;
  padding-left: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main-nav-btn.camera {
  background-image: url(images/camera.svg);
}
.main-nav-btn.search {
  background-image: url(images/search.svg);
}
.main-nav-btn.menu {
  background-image: url(images/menu.svg);
}
.main-nav-btn.camera:hover {
  background-image: url(images/cameraG.svg);
}
.main-nav-btn.search:hover {
  background-image: url(images/searchG.svg);
}
.main-nav-btn.menu:hover {
  background-image: url(images/menuG.svg);
}

/* Search Container */
.nav-search-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--primary-dark);
  width: 100%;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  clip-path: circle(0% at 100% 0%);
  transition: clip-path 0.4s ease-in-out;
}
.search-container {
  display: flex;
  justify-content: space-between;
  padding: 13px 0px 10px 0px;
}
.inputElement {
  flex-grow: 1;
  background-color: transparent;
  color: var(--text-grey);
  font-size: medium;
  border: none;
  outline: none;
  caret-color: var(--accent-color);
}
.main-nav-btn.back {
  padding: 0;
  padding-right: 25px;
  background-image: url(images/arrowBack.svg);
}
.main-nav-btn.clear {
  padding: 0;
  padding-left: 15px;
  padding-right: 10px;
  background-image: url(images/close.svg);
}
.tags-container {
  display: flex;
  padding: 10px 40px 0px 15px;
  font-size: small;
  gap: 7px;
  flex-wrap: wrap;
}
.tag {
  display: flex;
  padding: 7px;
  border: 2px solid var(--accent-color);
  border-radius: 20px;
  color: var(--accent-color);
  box-sizing: border-box;
  margin-bottom: 6px;
  user-select: none;
}
.tag::before {
  content: "";
  display: flex;
  width: 10px;
  padding-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}
.tag.unread::before {
  background-image: url(images/unread.svg);
}
.tag.photos::before {
  background-image: url(images/photos.svg);
}
.tag.videos::before {
  background-image: url(images/videos.svg);
}
.tag.links::before {
  background-image: url(images/links.svg);
}
.tag.gifs::before {
  background-image: url(images/gifs.svg);
}
.tag.audios::before {
  background-image: url(images/audios.svg);
}
.tag.documents::before {
  background-image: url(images/documents.svg);
}
.tag.polls::before {
  background-image: url(images/polls.svg);
}

/* Menu Container */
.main-nav-menu-container {
  display: flex;
  z-index: 100;
  justify-content: flex-end;
}
.modal {
  position: absolute;
  width: 200px;
  background-color: var(--menu-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  clip-path: circle(0% at 100% 0%);
  transition: clip-path 0.4s ease-in-out;
}
.main-nav-menu {
  list-style-type: none;
  font-weight: 100;
  color: var(--text-grey);
  user-select: none;
}
.main-nav-menu > li {
  padding: 13px;
  transition: background 0.3s linear, box-shadow 0.4s linear;
}
.main-nav-menu > li:hover {
  background-color: var(--accent-color);
  color: var(--menu-dark);
  box-shadow: var(--accent-color) 0px 0px 8px;
}

/* NavBar */
nav {
  display: flex;
  position: relative;
}
.nav-btn {
  color: var(--text-grey);
  padding: 14px 0px;
  text-align: center;
  flex-grow: 2;
  justify-content: space-around;
  cursor: pointer;
  font-weight: 100;
  user-select: none;
}
.group-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  background-image: url(images/group.svg);
  flex-grow: 1.1;
  max-width: 50px;
}
.group-icon.highlight {
  background-image: url(images/groupG.svg);
}
.nav-btn-active {
  background-color: var(--accent-color);
  border-radius: 2px 2px;
  bottom: 0%;
  height: 7%;
  position: absolute;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--accent-color) 0px 2px 8px;
}

/* #toggle classes */
.highlight {
  color: var(--accent-color);
}
.clipPath {
  clip-path: circle(142% at 100% 0%);
}
/* media queries */
