:root {
  --accent-color: #1de9b6;
  --primary-dark: #004d40;
  --secondary-dark: #263238;
  --text-grey: #bdbdbd;
}
* {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--secondary-dark);
}

/* main classes/ID */
.container {
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* TitleBar */
.main-nav-bar {
  display: flex;
  padding: 15px 10px 10px 15px;
  justify-content: right;
  align-items: center;
  gap: 20px;
}
.main-nav-bar::before {
  content: "WhatsApp";
  font-weight: 500;
  font-size: larger;
  color: var(--text-grey);
  margin-right: auto;
}
.main-nav-btn {
  width: 1.6em;
  height: 1.6em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main-nav-btn:nth-child(1) {
  background-image: url(camera.svg);
}
.main-nav-btn:nth-child(2) {
  background-image: url(search.svg);
}
.main-nav-btn:nth-child(3) {
  background-image: url(menu.svg);
}
.main-nav-btn:nth-child(1):hover {
  background-image: url(cameraG.svg);
}
.main-nav-btn:nth-child(2):hover {
  background-image: url(searchG.svg);
}
.main-nav-btn:nth-child(3):hover {
  background-image: url(menuG.svg);
}

/* NavBar */
nav {
  display: flex;
  position: relative;
}
.nav-btn {
  color: var(--text-grey);
  padding: 14px 0px;
  text-align: center;
  flex-grow: 2;
  justify-content: space-around;
  cursor: pointer;
}
.group-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  background-image: url(group.svg);
  flex-grow: 1.1;
  max-width: 50px;
}
.group-icon.highlight {
  background-image: url(groupG.svg);
}
.nav-btn-active {
  background-color: var(--accent-color);
  border-radius: 2px 2px;
  bottom: 0%;
  height: 7%;
  position: absolute;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--accent-color) 0px 2px 8px;
}

/* #toggle classes */
.highlight {
  color: var(--accent-color);
}

/* media queries */
